body {
  background-color: #F5F5F5;
  font-family: Arial;
}

#app {
  max-width: 400px;
  margin: 0 auto;
}

  input {
    width: 100%;
    padding: 7px;
    font-size: 20px;
  }

  ul {
    padding: 10px;
  }

  ul li {
    list-style: none;
    padding: 7px;
    border-bottom: 1px solid #CCCCCC;
  }

  ul li button {
    border: none;
    background: none;
    cursor: pointer;
    color: red;
    font-size: 16px;
    float: right;
  }
